   body{
      background-color: #888cd1;
   }
   #profile-png{
   width: 200px;
   position: absolute;
   right: 50%;
   top: 35px;
   border-width: 5px;
  }
   /* imagem */
   #txt-bio{
   position: absolute;
   right: 50%;
   top: 0;
   border-width: 4px;
   border-style: none none groove;
   background: linear-gradient(to right, #0bff02, #75f900, #a1f300, #c2ed00, #dce600, #eec800, #faaa00,#0ca1e1,#3100ff);}
     
   .bottom-box{
     
      position: absolute;
      top: 90%;
      width: 100%;
      height: 70px;
      background: linear-gradient(to right, #0bff02, #75f900, #a1f300, #c2ed00, #dce600, #eec800, #faaa00,#0ca1e1,#3100ff);
      text-align: center;
   }
   h5{
      margin-top: 10px;
   }
 