.bg-site{
   margin: 0;
   padding: 0;
   background: linear-gradient(to top, #3E215D 30%,#F08FC0)
}
h1{
   text-align: center;
   font-family: cursive;
   font-size: 40px;
   font-weight: bold;
}
/* texto no meio */

.profile{ 
   text-align: center; 
}/* arruma a foto pra ficar no meio */

#profile-pic{
   width: 200px;
   background-color: #F08FC0;
   border-radius: 100px;
   border-width: 5px;
   border-style: none solid solid none;
   border-color: #3E215D;
   
}/* imagem */
   #borda-bio:hover{
   background: linear-gradient(to right, #0bff02, #75f900, #a1f300, #c2ed00, #dce600, #eec800, #faaa00,#0ca1e1,#3100ff);}
   #borda-bio{
   position: absolute;
   right: 9em;
   top: 0;
   width: 330px;
   height: 30px;
   border-radius: 100px;
   border-width: 3px;
   border-style: none solid solid none;
}
#cursor{
   filter: brightness(1);
   width: 80px;
   position: absolute;
   right: 10%;
   top: 7%;
} /* imagem do cursor */
#mouse-in-txt{
   position: absolute;
   right: 10%;
   top: 5%;
   width: 200px;
   height: 30px;
   border-radius: 100px;
   border-width: 3px;
   border-style: none solid solid none;
}/* texto dentro da segunda caixa */
#mouse-in-txt:hover{
   background: linear-gradient(to right, #0bff02, #75f900, #a1f300, #c2ed00, #dce600, #eec800, #faaa00,#0ca1e1,#3100ff);
}
